---
 import Icon from '../Icon.astro'; 
 let iconWidth = "10%";
 let iconSize = "50px";
 let pinSize = "70px";
---

<!-- clients
    ================================================== -->
    <!-- <section id="choose" class="s-choose"> -->
            <!-- <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up"> -->
                <!-- <div class="col-full"> -->
                    <!-- <h3 class="subhead">Recent Works</h3> -->
                    <!-- <h1 class="display-2 display-2--light">We love what we do, check out some of our latest works</h1> -->
                <!-- </div> -->
            <!-- </div>  -->
<!--  -->
            <!-- <div> -->
              <!-- <Icon icon="checkatrade" width={iconSize} height={iconSize}> -->
            <!-- </div> -->
<!--  -->
            <!-- <div> -->
              <!-- <Icon icon="niceic-border-white-sm" width={iconSize} height={iconSize}> -->
            <!-- </div> -->
            <!-- <div> -->
              <!-- <Icon icon="chas" width={iconSize} height={iconSize}> -->
            <!-- </div> -->
<!--  -->
<!--  -->
    <!-- </section> [> end s-clients <] -->
    <section id="choose" class="s-choose">

        <div class="intro-wrap">

            <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead subhead--brand">Choose Us For</h3>
                    <h1 class="display-2 display-2--light">Quality Service</h1>
                </div>
            </div> 

        </div> <!-- end intro-wrap -->

        <div class="row choose-content">
        </div> 
        <div class="flex-center about-stats stats aos-init aos-animate" data-aos="fade-up">
          <div class="stats__col years-experience">
            <span>With Over</span>              
            <div class="stats__count">25</div>
            <h5>Years Combined Service</h5>

          </div>
          <div class="row services-list block-1-2 block-tab-full">

            <div class="col-block service-item" data-aos="fade-up">
              <div class="service-icon">
                <!-- <i class="icon-paint-brush"></i> -->
                <!-- <img src="/images/icons/svg/installation_border.svg"> -->
                <!-- <Icon icon="installation" width={iconWidth}> -->
              </div>
              <div class="service-text">
                <h3 class="h2">Quick Response Time</h3>
                <!-- <p>We provide professional electrical installation services for new constructions, renovations, and additions. Our team can install a wide range of electrical systems, including lighting, power, and security systems.</p> -->
              </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
              <div class="service-icon">
                <!-- <i class="icon-group"></i> -->
                <!-- <img src="/images/icons/tools@64x64_border.png"> -->
                <!-- <Icon icon="tools" width={iconWidth} id="tools"> -->
              </div>
              <div class="service-text">
                <h3 class="h2">Honest, Reliable &amp; Punctual</h3>
                <!-- <p>Our team can quickly diagnose and repair any electrical issues in your home or business. We offer comprehensive repair services for all types of electrical systems, including wiring, outlets, and circuit breakers.</p> -->
              </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
              <div class="service-icon">
                <!-- <i class="icon-megaphone"></i> -->
                <!-- <img src="/images/icons/electrician@64x64_border.png"> -->
                <!-- <Icon icon="electrician" width={iconWidth}> -->
              </div>
              <div class="service-text">
                <h3 class="h2">Competitively Priced</h3>
                <!-- <p>Regular maintenance is essential to keep your electrical systems running smoothly and prevent potential issues. We offer ongoing maintenance services to keep your electrical systems in optimal condition and reduce the risk of breakdowns and failures.</p> -->
              </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
              <div class="service-icon">
                <!-- <i class="icon-earth"></i> -->
                <!-- <img src="/images/icons/schematics@64x64_border.png"> -->
                <!-- <Icon icon="schematic" width={iconWidth}> -->
              </div>
              <div class="service-text">
                <h3 class="h2">Highly Skilled Operatives</h3>
                <!-- <p>If your electrical system is outdated or needs an upgrade, we can help. Our team can assess your current system and recommend upgrades to improve its efficiency, safety, and performance.</p> -->
              </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
              <div class="service-icon">
                <!-- <i class="icon-cube"></i> -->
                <!-- <img src="/images/icons/voltmter@64x64_border.png"> -->
                <!-- <Icon icon="voltmeter" width={iconWidth}> -->
              </div>
              <div class="service-text" data-aos="fade-up">
                <h3 class="h2">Transparent</h3>
                <!-- <p>We provide thorough electrical safety inspections to identify potential hazards and ensure that your electrical system is up to code and compliant with regulations.</p> -->
              </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
              <div class="service-icon">
                <!-- <img src="/images/icons/repairs@64x64_border.png"> -->
                <!-- <Icon icon="repair" width={iconWidth}> -->
              </div>
              <div class="service-text">
                <h3 class="h2">Fully Insured</h3>
                <!-- <p>We offer emergency electrical services to quickly respond to electrical emergencies. Our team of electricians is equipped to handle any urgent issue, from power outages to tripping circuit breakers, to help you get your electrical system up and running again.</p> -->
              </div>
            </div>

            <!-- </div>  <!-- end services-list -->
        </div>

        <!-- </div> -->


    </section> <!-- end s-works -->
            <!-- <div> -->
              <!-- <Icon icon="niceic-border-white-sm" width={iconSize} height={iconSize}> -->
            <!-- </div> -->
            <!-- <div> -->
              <!-- <Icon icon="chas" width={iconSize} height={iconSize}> -->
            <!-- </div> -->



    <!-- end s-choose -->

        <style>

        .years-experience {
            margin-top: 0;
            padding-bottom: 5.4rem;
        }

        .years-experience h5{
          color:white;
        }

          .flex-center {
            margin: 0 auto;
          }

          .services-list{
              margin-top: 6rem;
          }

          .service-text h3 {
            font-family: "lora-regular";
            border: 1px solid hsl(0deg 0% 85.97%);
            border-radius: 6px;
            padding: 16px;
            background: white;
            color: black;
            font-size: 2.4rem;
          }

          .services-text > h3:hover{
              color: white;
              background:gold;
          }


          .stats__col {
               /* margin: 0.4rem; */
          }

          .stats__col > span {
              
            color: #757575;
            font-family: "monserrat-light";
          }

          h5{
            color: #757575;
            font-family: "monserrat-light";
          }

          .s-choose .intro-wrap {
            padding: 15rem 0 25.2rem;
            padding-top: 15rem;
            padding-right: 0px;
            padding-bottom: 25.2rem;
            padding-left: 0px;
            background: #111111;
          }

          .s-choose {
            /* background: var(--color-brand); */
            background: white;
            padding: 0 0 5rem 0;
            min-height: 800px;
            position: relative;
          }


          .choose-content {
            max-width: 1160px;
            margin-top: -23.4rem;
          }

        </style>
