---
 import Icon from '../Icon.astro'; 
 let iconWidth = "10%";
 let iconSize = "150px";
 let pinSize = "70px";
---

<!-- clients
    ================================================== -->
    <!-- <section id="choose" class="s-choose"> -->
            <!-- <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up"> -->
                <!-- <div class="col-full"> -->
                    <!-- <h3 class="subhead">Recent Works</h3> -->
                    <!-- <h1 class="display-2 display-2--light">We love what we do, check out some of our latest works</h1> -->
                <!-- </div> -->
            <!-- </div>  -->
<!--  -->
            <!-- <div> -->
              <!-- <Icon icon="checkatrade" width={iconSize} height={iconSize}> -->
            <!-- </div> -->
<!--  -->
            <!-- <div> -->
              <!-- <Icon icon="niceic-border-white-sm" width={iconSize} height={iconSize}> -->
            <!-- </div> -->
            <!-- <div> -->
              <!-- <Icon icon="chas" width={iconSize} height={iconSize}> -->
            <!-- </div> -->
<!--  -->
<!--  -->
    <!-- </section> [> end s-clients <] -->
    <section id="choose" class="s-choose">

        <div class="intro-wrap">

            <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead">Choose Us For</h3>
                    <h1 class="display-2 display-2--light">Quality Service</h1>
                </div>
            </div> 

        </div> <!-- end intro-wrap -->

        <div class="row choose-content">
        </div> <!-- end works-content -->

        <div class="about-stats stats aos-init aos-animate" data-aos="fade-up">
            <div class="stats__col ">
              <span>With Over</span>              
            <div class="stats__count">25</div>
                <h5>Years Combined Service</h5>
            </div>
        </div>
            <!-- <div> -->
              <!-- <Icon icon="niceic-border-white-sm" width={iconSize} height={iconSize}> -->
            <!-- </div> -->
            <!-- <div> -->
              <!-- <Icon icon="chas" width={iconSize} height={iconSize}> -->
            <!-- </div> -->


    </section> <!-- end s-works -->



    <!-- end s-choose -->

        <style>

          .stats__col {
              margin: 0.4rem;
          }

          .stats__col > span {
              
            color: #757575;
            font-family: "monserrat-light";
          }

          h5{
            color: #757575;
            font-family: "monserrat-light";
          }
          .s-choose .intro-wrap {
            padding: 15rem 0 25.2rem;
            padding-top: 15rem;
            padding-right: 0px;
            padding-bottom: 25.2rem;
            padding-left: 0px;
            background: #111111;
          }

          .s-choose {
            background: #FFFFFF;
            padding: 0 0 15rem 0;
            min-height: 800px;
            position: relative;
          }


          .choose-content {
            max-width: 1160px;
            margin-top: -23.4rem;
          }

        </style>
