---
 import Icon from '../Icon.astro'; 
 let iconWidth = "5%";
 let iconSize = "120px";
 let pinSize = "70px";
---

<!-- clients
    ================================================== -->
    <section id="clients" class="s-clients">

      <div class="row section-header">

                <div class="col-full">
                    <h3 class="subhead">What Others Say</h3>
                    <h1 class="display-2 display-2--dark">Testimonials</h1>
                </div>

      </div> <!-- end section-header -->

        <!-- <div class="row clients-outer" data-aos="fade-up"> -->
            <!-- <div class="col-full"> -->
                <!-- <div class="clients"> -->
<!--  -->
                    <!-- <a href="#0" title="" class="clients__slide"><img src="images/clients/apple.png" /></a> -->
                    <!-- <a href="#0" title="" class="clients__slide"><img src="images/clients/atom.png" /></a> -->
                    <!-- <a href="#0" title="" class="clients__slide"><img src="images/clients/blackberry.png" /></a> -->
                    <!-- <a href="#0" title="" class="clients__slide"><img src="images/clients/dropbox.png" /></a> -->
                    <!-- <a href="#0" title="" class="clients__slide"><img src="images/clients/envato.png" /></a> -->
                    <!-- <a href="#0" title="" class="clients__slide"><img src="images/clients/firefox.png" /></a> -->
                    <!-- <a href="#0" title="" class="clients__slide"><img src="images/clients/joomla.png" /></a> -->
                    <!-- <a href="#0" title="" class="clients__slide"><img src="images/clients/magento.png" /></a> -->
<!--  -->
                <!-- </div> [> end clients <] -->
            <!-- </div> [> end col-full <] -->
        <!-- </div> [> end clients-outer <] -->

        <div class="row clients-testimonials">
          <div class="col-full">
            <div style="margin:0 auto;">
              <Icon icon="electric-quote-flip-no-stroke" width={iconSize} height={iconSize}>
            </div>
            <div class="testimonials">

              <div class="testimonials__slide">

                <p>This team of electricians has not only completed the work to an exceptionally high 
                   standard but also demonstrated outstanding attention to detail and patience throughout the process. 
                   I always prioritise having a job done correctly, and not only did they meet that expectation, 
                   but they also exhibited friendly and approachable personalities. 
                   Furthermore, they patiently addressed all my questions and concerns, 
                   making me feel consistently well-supported and confident in their expertise.
                </p>
                </p>

                <!-- <img src="images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar"> -->
                <div style="margin:0 auto;">
                  <Icon icon="map-pin-no-border" width={pinSize} height={pinSize}>
                </div>
                <div class="testimonials__info">
                  <span class="testimonials__name">W4</span> 
                  <!-- <span class="testimonials__pos">CR5</span> -->
                </div>

              </div>

              <div class="testimonials__slide">

                <p> 
                Class from beginning to end. Showed up on time and left the space clean. 
                Changed exactly as requested would happily have these chaps back again for more work in the future 
                </p>

                <!-- <img src="images/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar"> -->
                <div style="margin:0 auto;">
                  <Icon icon="map-pin-no-border" width={pinSize} height={pinSize}>
                </div>
                <div class="testimonials__info">
                  <span class="testimonials__name">CR2</span> 
                  <!-- <span class="testimonials__pos">CR2</span> -->
                </div>

              </div>

              <div class="testimonials__slide">

                <p>
                  The Raiden team were very professional and friendly. The work was completed swiftly and the team arrived on time each day. All work was completed to a very high standard. 
                  Adam and the time were tidy and considerate of the rest of the house. Will be using Raiden again when needed and highly recommend the company.
                </p>

                <!-- <img src="images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar"> -->
                <div style="margin:0 auto;">
                  <Icon icon="map-pin-no-border" width={pinSize} height={pinSize}>
                </div>
                <div class="testimonials__info">
                  <span class="testimonials__name">CR5</span> 
                  <!-- <span class="testimonials__pos">CEO, Microsoft</span> -->
                </div>

              </div>

              <div class="testimonials__slide">

                <p>
                Honest and hardworking electricians, who gave me a very competitive price, very pleased.
                </p>

                <!-- <img src="images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar"> -->
                <div style="margin:0 auto;">
                  <Icon icon="map-pin-no-border" width={pinSize} height={pinSize}>
                </div>
                <div class="testimonials__info">
                  <span class="testimonials__name">RH19</span> 
                  <!-- <span class="testimonials__pos">CEO, Microsoft</span> -->
                </div>


              </div>

                </div><!-- end testimonials -->

            </div> <!-- end col-full -->
        </div> <!-- end client-testimonials -->

    </section> <!-- end s-clients -->

        <style>
          .testimonials__slide p{
            text-align: center;
            /* text-align: justify; */
            /* text-justify: inter-character; */
          }
            .subhead {
                font-family: "montserrat-bold", sans-serif;
                font-size: 1.7rem;
                line-height: 1.333;
                text-transform: uppercase;
                letter-spacing: .25rem;
                color: var(--color-brand);
                margin-top: 0;
                margin-bottom: 0;
            }
        </style>
